@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color: #fdfdfd;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.bg-light {
    background-color: #04294f!important;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: 'Courier New', Courier, monospace;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(253, 250, 250);
}
